* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    /* outline: 2px solid red; */
}

.container {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    margin-top: 80px;
    overflow: hidden;
    position: relative;
}

.carousel {
    width: 100%;
    height: 100%;
    display: flex;
}

.container .carousel img {
    width: 100%;
    height: 100%;
}

.carousel-arrow {
    position: absolute;
    top: 50%;
    /* transform: translateY(-50%); */
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    font-weight: bolder;
    display: none;
    opacity: 0;
    
    /* 内容无法选中 */
    -webkit-user-select: none;
}

.carousel-arrow img {
    width: 50%;
    height: 50%;
    margin: auto;
}

.carousel-arrow-left {
    left: 15%;
    
}

.carousel-arrow-right {
    right: 15%;
}

.indicator {
    position: absolute;
    bottom: 30px;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
}

.indicator span {
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
}

.indicator span.active {
    background: #fff;
}